.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-general);
    background-color: var(--color-primario);
    color: var(--color-fondo);
    margin-bottom: var(--padding-general); /* Añadido margen inferior */
}

.header-block {
    flex: 1;
    text-align: center;
    padding: 10px;
    margin: 10px; 
    border: 2px solid #828282; 
    border-radius: 5px; 
    background-color: #797979; 
    color: white;
}

.github {
    background-color: #838080;
}